/* FONTS */
@font-face {
   font-family: 'Fraunces';
   src: url('../fonts/Fraunces-Bold.woff2') format('woff2'),
       url('../fonts/Fraunces-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Barlow';
   src: url('../fonts/Barlow-SemiBold.woff2') format('woff2'),
       url('../fonts/Barlow-SemiBold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Fraunces';
   src: url('../fonts/Fraunces-Black.woff2') format('woff2'),
       url('../fonts/Fraunces-Black.woff') format('woff');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

