// COLORS
$color-white: #ffffff;
$color-corsair: #19536C;
$color-chrome-aliminum: #A7AAAD;
$color-perky: #458D7E;
$color-artist-blue: #052C3B;
$color-horn-green: #24554A;
$color-moray-green: #3E7467;
$color-blue-black: #24303E;
$color-slate-gray: #5B636D;
$color-stand-out:#808397 ;
$color-yellow:#FBD600;
// FONTS
$font-stack: "Fraunces", "Arial", sans-serif;