@font-face {
    font-family: 'Fraunces';
    src: url('Fraunces-Bold.woff2') format('woff2'),
        url('Fraunces-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-SemiBold.woff2') format('woff2'),
        url('Barlow-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('Fraunces-Black.woff2') format('woff2'),
        url('Fraunces-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

